<!DOCTYPE html>
<html>
<head>
  <title>RescueMission</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
    signed in as <img src="<%=current_user.image%>" class="avatar"><strong><%= current_user.name %></strong>!
    <%= link_to "sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "sign in with Twitter", "/auth/twitter", id: "sign_in" %>
  <% end %>

  <% if flash.any? %>
    <h1><%= flash[:notice] %></h1>
  <% end %>
<%= yield %>

</body>
</html>
